*.swp
.svn
target
*~
*.log
*.lock
*.bak
gems
*.orig
node_modules
bower_components
*.log
.jhw-cache
.DS_Store
.cap_task_cache
**/.settings/*
.vagrant/*
.idea/*
*.iml
Pods/*
build/*
**/*.playground/*
.gradle
.envrc
*.code-workspace
vendor/bundle
out/

.terraform/*
